/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fpurple-mountain&psig=AOvVaw0q61_zsh2v0sR77Iwsy0Ra&ust=1708406525806000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCLjUi-LTtoQDFQAAAAAdAAAAABAI");
}
